<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.IniciativaMapper">

    <select parameterType="map" id="consultarIniciativa" resultMap="IniciativaResult">
        select
	        u.num,
	        u.descripcion,
	        u.usuarioproponente,
	        u.palabrasclave
        from INICIATIVA u
        WHERE u.num=#{num};
    </select>
    
    <insert id="insertarIniciativa" parameterType="map">
        INSERT INTO iniciativa (num , descripcion , usuarioproponente , palabrasclave) VALUES ( #{iniciativa.num}, #{iniciativa.descripcion} , #{iniciativa.usuarioproponente} , #{iniciativa.palabrasclave});
    </insert>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='num' column='num'/>
        <result property='descripcion' column='descripcion'/>
        <result property='usuarioproponente' column='usuarioproponente'/>
        <result property='palabrasclave' column='palabrasclave'/>
        
    </resultMap>


</mapper>