<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.IniciativaMapper">

    <select parameterType="map" id="consultarIniciativa" resultMap="IniciativaResult">
        select
          	i.num,
	        i.descripcion,
	        i.fechaRegistro,
	        i.estado,
	        i.areaProponente,
            u.id as u_id,
	        u.nombre as u_nombre,
	        u.apellido as u_apellido,
	        u.email as u_email,
	        u.telefono as u_telefono,
	        u.tipoUsuario as u_tipoUsuario,
	        u.contrasena as u_contrasena,
	        c.id as c_id ,
	        c.idIniciativa as c_idIniciativa,
	      	c.idPalabraClave as c_idPalabraClave,
	      	d.id as d_id,
	      	d.descripcion as d_descripcion
        from INICIATIVA as i
	    left join USUARIO as u on i.usuarioProponente=u.id
	    left join INICIATIVAPALABRA as c on c.idIniciativa=i.num
	    left join PALABRASCLAVE as d on d.id=c.idPalabraClave
        WHERE i.num=#{num};
    </select>

    <select  id="consultarIniciativas" resultMap="IniciativaResult">
        select
          	i.num,
	        i.descripcion,
	        i.fechaRegistro,
	        i.estado,
	        i.areaProponente,
            u.id as u_id,
	        u.nombre as u_nombre,
	        u.apellido as u_apellido,
	        u.email as u_email,
	        u.telefono as u_telefono,
	        u.tipoUsuario as u_tipoUsuario,
	        u.contrasena as u_contrasena,
	        c.id as c_id ,
	        c.idIniciativa as c_idIniciativa,
	      	c.idPalabraClave as c_idPalabraClave,
	      	d.id as c_d_id,
	      	d.descripcion as c_d_descripcion
        from INICIATIVA as i
        
	    left join USUARIO as u on i.usuarioProponente=u.id
	    left join INICIATIVAPALABRA as c on c.idIniciativa=i.num
	    left join PALABRASCLAVE as d on d.id=c.idPalabraClave
    </select>

    <insert id="registrarIniciativa" parameterType="map">
        INSERT INTO INICIATIVA (descripcion , usuarioProponente, areaProponente) VALUES (#{iniciativa.descripcion} , #{iniciativa.usuarioproponente.id} ,#{iniciativa.areaProponente});
    </insert>


    <update id="cambiarEstadoIniciativa" parameterType="map">
    	UPDATE INICIATIVA
        SET estado = #{estado}
        WHERE num =  #{num};
    </update>




    <select parameterType="map" id="consultarIniciativaXPalabraClave" resultMap="IniciativaResult">
	    SELECT
            u.num,
            u.descripcion,
            u.usuarioProponente,
            u.palabrasClave,
            u.fecha_registro,
            u.estado,
            u.areaProponente
        FROM INICIATIVA u
        WHERE u.palabrasClave LIKE %#{palabrasClave}%;
    </select>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='num' column='num'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaRegistro' column='fechaRegistro'/>
        <result property='estado' column='estado'/>
        <result property='areaProponente' column='areaProponente'/>
        <association property='usuarioproponente' javaType='Usuario' columnPrefix='u_' resultMap='edu.eci.cvds.persistencia.mybatisimpl.mappers.UsuarioMapper.UsuarioResult'></association>
   		<collection property='iniciativasPalabras' ofType='IniciativaPalabra' columnPrefix='c_' resultMap='edu.eci.cvds.persistencia.mybatisimpl.mappers.IniciativaPalabraMapper.IniciativaPalabraResult'></collection>
   		<collection property='likes' columnPrefix='v_' ofType='Voto' resultMap='edu.eci.cvds.persistencia.mybatisimpl.mappers.VotoMapper.VotoResult' />
    </resultMap>


</mapper>
