<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.IniciativaMapper">

    <select parameterType="map" id="consultarIniciativa" resultMap="IniciativaResult">
        select
	        i.num,
	        i.descripcion,
	        i.palabrasclave,
	        i.fechaRegistro,
	        i.estado,
	        i.areaProponente,
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena
        from INICIATIVA i, USUARIO u
        WHERE i.num=#{num}
        and i.usuarioproponente=u.id;
    </select>

    <select  id="consultarIniciativas" resultMap="IniciativaResult">
        select
          i.num,
	        i.descripcion,
	        i.palabrasclave,
	        i.fechaRegistro,
	        i.estado,
	        i.areaProponente,
            u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena
        from INICIATIVA i, USUARIO u
        WHERE  i.usuarioproponente=u.id;
    </select>

    <insert id="registrarIniciativa" parameterType="map">
        INSERT INTO INICIATIVA (descripcion , usuarioproponente , palabrasclave, areaProponente) VALUES (#{iniciativa.descripcion} , #{iniciativa.usuarioproponente.id} , #{iniciativa.palabrasclave},#{iniciativa.areaProponente});
    </insert>


    <update id="cambiarEstadoIniciativa" parameterType="map">
    	UPDATE INICIATIVA
        SET estado = #{estado}
        WHERE num =  #{num};
    </update>

    <select parameterType="map" id="consultarIniciativaXPalabraClave" resultMap="IniciativaResult">
	    SELECT
            u.num,
            u.descripcion,
            u.usuarioProponente,
            u.palabrasClave,
            u.fecha_registro,
            u.estado,
            u.areaProponente
        FROM INICIATIVA u
        WHERE u.palabrasClave=#{palabrasClave};
    </select>

    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='num' column='num'/>
        <result property='descripcion' column='descripcion'/>
        <result property='palabrasclave' column='palabrasclave'/>
        <result property='fechaRegistro' column='fechaRegistro'/>
        <result property='estado' column='estado'/>
        <result property='areaProponente' column='areaProponente'/>
        <association property='usuarioproponente' javaType='Usuario' resultMap='edu.eci.cvds.persistencia.mybatisimpl.mappers.UsuarioMapper.UsuarioResult'></association>
    </resultMap>


</mapper>
