<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.UsuarioMapper">

    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        select
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena,
	      	
	      	v.id as v_id,
	        
	        u2.id as v_i_u_id,
	        u2.nombre as v_i_u_nombre,
	        u2.apellido as v_i_u_apellido,
	        u2.email as v_i_u_email,
	        u2.telefono as v_i_u_telefono,
	        u2.tipoUsuario as v_i_u_tipoUsuario,
	        u2.contrasena as v_i_u_contrasena,
	        
	      	i.num as v_i_num,
	        i.descripcion as v_i_descripcion,
	        i.fechaRegistro as v_i_fechaRegistro,
	        i.estado as v_i_estado,
	        i.areaProponente as v_i_areaProponente,
	        
	        c.id as v_i_c_id ,
	        c.idIniciativa as v_i_c_idIniciativa,
	      	c.idPalabraClave as v_i_c_idPalabraClave,
	      	
	      	d.id as v_i_c_d_id,
	      	d.descripcion as v_i_c_d_descripcion
        from USUARIO u
        left join VOTO as v on v.idUsuario=u.id
        left join INICIATIVA as i on v.numIniciativa=i.num
        left join USUARIO as u2 on i.usuarioProponente=u2.id
	    left join INICIATIVAPALABRA as c on c.idIniciativa=i.num
	    left join PALABRASCLAVE as d on d.id=c.idPalabraClave
        WHERE u.email=#{email};
    </select>
    
 
    
    <select parameterType="map" id="consultarUsuarioXId" resultMap="UsuarioResult">
        select
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena,
	      	
	      	v.id as v_id,
	        
	        u2.id as v_i_u_id,
	        u2.nombre as v_i_u_nombre,
	        u2.apellido as v_i_u_apellido,
	        u2.email as v_i_u_email,
	        u2.telefono as v_i_u_telefono,
	        u2.tipoUsuario as v_i_u_tipoUsuario,
	        u2.contrasena as v_i_u_contrasena,
	        
	      	i.num as v_i_num,
	        i.descripcion as v_i_descripcion,
	        i.fechaRegistro as v_i_fechaRegistro,
	        i.estado as v_i_estado,
	        i.areaProponente as v_i_areaProponente,
	        
	        c.id as v_i_c_id ,
	        c.idIniciativa as v_i_c_idIniciativa,
	      	c.idPalabraClave as v_i_c_idPalabraClave,
	      	
	      	d.id as v_i_c_d_id,
	      	d.descripcion as v_i_c_d_descripcion
        from USUARIO u
        left join VOTO as v on v.idUsuario=u.id
        left join INICIATIVA as i on v.numIniciativa=i.num
        left join USUARIO as u2 on i.usuarioProponente=u2.id
	    left join INICIATIVAPALABRA as c on c.idIniciativa=i.num
	    left join PALABRASCLAVE as d on d.id=c.idPalabraClave
        WHERE u.id=#{id};
    </select>
    
   <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        select
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena,
	        
	        v.id as v_id,
	        
	        u2.id as v_i_u_id,
	        u2.nombre as v_i_u_nombre,
	        u2.apellido as v_i_u_apellido,
	        u2.email as v_i_u_email,
	        u2.telefono as v_i_u_telefono,
	        u2.tipoUsuario as v_i_u_tipoUsuario,
	        u2.contrasena as v_i_u_contrasena,
	        
	      	i.num as v_i_num,
	        i.descripcion as v_i_descripcion,
	        i.fechaRegistro as v_i_fechaRegistro,
	        i.estado as v_i_estado,
	        i.areaProponente as v_i_areaProponente,
	        
	        c.id as v_i_c_id ,
	        c.idIniciativa as v_i_c_idIniciativa,
	      	c.idPalabraClave as v_i_c_idPalabraClave,
	      	
	      	d.id as v_i_c_d_id,
	      	d.descripcion as v_i_c_d_descripcion
        from USUARIO u
        left join VOTO as v on v.idUsuario=u.id
        left join INICIATIVA as i on v.numIniciativa=i.num
        left join USUARIO as u2 on i.usuarioProponente=u2.id
	    left join INICIATIVAPALABRA as c on c.idIniciativa=i.num
	    left join PALABRASCLAVE as d on d.id=c.idPalabraClave
    </select>
    
    <update id="cambiarRol" parameterType="map">
    	update USUARIO
    	set tipoUsuario= #{rol}
    	where id=#{id};
    </update>
    
    <insert id="registrarUsuario" parameterType="map">
        insert into USUARIO (id,nombre,apellido,email,telefono,tipoUsuario,contrasena) values (#{id},#{nombre},#{apellido},#{email},#{telefono},#{tipoUsuario},#{contrasena});
	</insert>


    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='email' column='email'/>
        <result property='telefono' column='telefono'/>
        <result property='tipoUsuario' column='tipoUsuario'/>
        <result property='contrasena' column='contrasena'/>
        <collection property='likes' columnPrefix='v_' ofType='Voto' resultMap='edu.eci.cvds.persistencia.mybatisimpl.mappers.VotoMapper.VotoResult' />
    </resultMap>


</mapper>