<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.UsuarioMapper">

    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        select
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena
        from USUARIO u
        WHERE u.email=#{email};
    </select>
    
   <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        select
	        u.id,
	        u.nombre,
	        u.apellido,
	        u.email,
	        u.telefono,
	        u.tipoUsuario,
	        u.contrasena
        from USUARIO u
    </select>
    
    <update id="cambiarRol" parameterType="map">
    	update USUARIO
    	set tipoUsuario= #{rol}
    	where id=#{id};
    </update>

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='email' column='email'/>
        <result property='telefono' column='telefono'/>
        <result property='tipoUsuario' column='tipoUsuario'/>
        <result property='contrasena' column='contrasena'/>
    </resultMap>


</mapper>