<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>
    
    <typeAliases>
    	<typeAlias type='edu.eci.cvds.entidades.Usuario' alias='Usuario'/>
    	<typeAlias type='edu.eci.cvds.entidades.Iniciativa' alias='Iniciativa'/>
    </typeAliases>        

        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://ec2-18-215-99-63.compute-1.amazonaws.com:5432/d6fbu45oor0r5h?ssl=true&ampsslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="aswygxodceyxlj" />
                <property name="password" value="20aab9bcdc191237f70826e2633d2e4b5d242e240044aaa104d4b5474d73d67f" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
    	<mapper resource="mappers/UsuarioMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>